body {
    font-family: Arial, sans-serif;
}

form {
    margin-bottom: 1em;
}

#results {
    list-style-type: none;
    padding: 0;
}

#results li {
    margin-bottom: 1em;
}

#results li a {
    text-decoration: none;
}